<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872807611594-ul9s1cflos1oqe1n529mq1ae25mqhfvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872807611594-ul9s1cflos1oqe1n529mq1ae25mqhfvb</string>
	<key>API_KEY</key>
	<string>AIzaSyBX5LsAYKtxEmLCksk_lzx7Z28YuGZ2mo0</string>
	<key>GCM_SENDER_ID</key>
	<string>872807611594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quasarkstudios.blockspro</string>
	<key>PROJECT_ID</key>
	<string>block-pro-1835c</string>
	<key>STORAGE_BUCKET</key>
	<string>block-pro-1835c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872807611594:ios:78a2d7006d39f2425a8833</string>
	<key>DATABASE_URL</key>
	<string>https://block-pro-1835c.firebaseio.com</string>
</dict>
</plist>